@using Jin.RazorWeb.DAL
@using Jin.RazorWeb.Model
@{
    Page.Title = "首页";
    Layout = "~/Layout/_Layout1.cshtml";
}

<div>
    @{
        List<Video> videos = VideoService.GetVideos();
        foreach (Video video in videos)
        {
        <div style="margin-left:10px;">
            <a href="~/VideoPlay.cshtml?id=@video.Id">
                <video style="width:300px;">
                    <source src="@video.Url" type="video/mp4" />
                </video>
            </a>
            <p>
                <a href="~/VideoPlay.cshtml?id=@video.Id" style="font-weight:600;">@video.Title</a> 
                <span style="color:#aaaaaa;font-size:14px;">播放(@video.PlayCount)</span>
            </p>
        </div>
        <hr />
        }
    }
</div>